{% load static %}
<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
  
<head>
  
<!--- basic page needs
   ================================================== -->
    <meta charset="utf-8">
    <title>About TrashIt</title>
    <meta name="description" content="">
    <meta name="author" content="">
  
<!-- mobile specific metas
   ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
<!-- CSS
   ================================================== -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
  
<!-- script
   ================================================== -->
    <script src="{% static 'js/modernizr.js' %}"></script>
    <script src="{% static 'js/pace.min.js' %}"></script>
  
<!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
  
</head>
  
<body id="top">
  
<!-- header
   ================================================== -->
   <header id="header" class="row">   
  
        <div class="header-logo">
            <a href="/">TrashIt</a>
        </div>
  
        <nav id="header-nav-wrap">
            <ul class="header-main-nav">
                <li class="current"><a class="smoothscroll"  href="#home" title="home">Home</a></li>
                <li><a class="smoothscroll"  href="#about" title="about">About</a></li>
            </ul>
  
            <a href="#" title="sign-up" class="button button-primary cta email-link">Contact</a>
        </nav>
  
        <a class="header-menu-toggle" href="#"><span>Menu</span></a>        
   </header> <!-- /header -->
  
  
<!-- home
   ================================================== -->
   <section id="home" data-parallax="scroll" data-image-src="{% static 'images/hero-bg.jpg' %}" data-natural-width=3000 data-natural-height=2000>
  
        <div class="overlay"></div>
        <div class="home-content">        
  
            <div class="row contents">                     
                <div class="home-content-left">
  
                    <h3 data-aos="fade-up">Welcome to TrashIt</h3>
  
                    <h1 data-aos="fade-up">
                        Trash Better, <br>
                        Improve Recycling. <br>
                        Utilize Open Data.
                    </h1>
  
                    <div class="buttons" data-aos="fade-up">
                        <a href="https://trashit.click/" class="button stroke">
                            <span class="icon-mouse" aria-hidden="true"></span>
                            Try Web App
                        </a>
                        <a href="#about" class="button stroke smoothscroll">
                            <span class="icon-circle-down" aria-hidden="true"></span>
                            Learn More
                        </a>
                    </div>                                         
  
                </div>
  
                <div class="home-image-right">
                    <img src="{% static 'images/iphone-app-470.png' %}"
                         srcset="{% static 'images/iphone-app-470.png' %} 1x, {% static 'images/iphone-app-940.png' %} 2x"  
                         data-aos="fade-up">
                </div>
            </div>
  
        </div> <!-- end home-content -->
  
        <div class="home-scrolldown">
            <a href="#about" class="scroll-icon smoothscroll">
                <span>Scroll Down</span>
                <i class="icon-arrow-right" aria-hidden="true"></i>
            </a>
        </div>
  
    </section> <!-- end home -->  
  
  
<!-- about
    ================================================== -->
    <section id="about">
  
        <div class="row about-intro">
  
            <div class="col-four">
                <h1 class="intro-header" data-aos="fade-up">About TrashIt</h1>
            </div>
            <div class="col-eight">
                <p class="lead" data-aos="fade-up">
                    Harnessing the power of open data to help users find the right spot to take out their trash by mapping their direct environment, improve recycling with choosing the right garbage can and reduce unauthorized waste dumping by redirecting to closest trashes and reporting local issues.
                </p>
            </div>                       
        </div>
  
        <div class="row about-features">
  
            <div class="features-list block-1-3 block-m-1-2 block-mob-full group">
  
                <div class="bgrid feature" data-aos="fade-up">  
                    <span class="icon"><i class="icon-map"></i></span>            
                    <div class="service-content">   
                        <h3>Mapping</h3>
                        <p>Get local waste disposal in an instant. Users can also request their area to be added (bots are filtered using a simple captcha).</p>
                    </div>               
                </div> <!-- /bgrid -->
  
                <div class="bgrid feature" data-aos="fade-up">  
                    <span class="icon"><i class="icon-calendar"></i></span>                          
                    <div class="service-content">   
                        <h3>Find out trash pickup time and dates</h3>  
                        <p>Upon request, public services are added to local managing.</p>
                    </div>                            
                </div> <!-- /bgrid -->
  
                <div class="bgrid feature" data-aos="fade-up">
                    <span class="icon"><i class="icon-recycle"></i></span>                  
                    <div class="service-content">
                        <h3>Tell users what goes where</h3>
                        <p>Users can scan the barcode of their food packaging to find the right garbage.</p>
                    </div>                                 
                </div> <!-- /bgrid -->
  
                <div class="bgrid feature" data-aos="fade-up">
                    <span class="icon"><i class="icon-mail"></i></span>               
                    <div class="service-content">
                        <h3>Report unauthorized waste dumping</h3>
                        <p>Send location to local public services via email.</p>
                    </div>                
                </div> <!-- /bgrid -->
  
                <div class="bgrid feature" data-aos="fade-up">
                    <span class="icon"><i class="icon-filter"></i></span>               
                    <div class="service-content">   
                        <h3>Filter</h3>
                        <p>Choose the trash type for easier readability on the map.</p>                            
                    </div>                 
                </div> <!-- /bgrid -->
  
                <div class="bgrid feature" data-aos="fade-up">
                    <span class="icon"><i class="icon-gift"></i></span>                
                    <div class="service-content">
                        <h3>Free of Charge</h3>
                        <p>For anyone to use.</p>
                    </div>                 
                </div> <!-- /bgrid -->
  
            </div> <!-- end features-list -->
  
        </div> <!-- end about-features -->
  
        <div class="row about-how">
            <h1 class="intro-header" data-aos="fade-up">How The App Works?</h1>           
  
            <div class="about-how-content" data-aos="fade-up">
                <div class="about-how-steps block-1-2 block-tab-full group">
  
                    <div class="bgrid step" data-item="1">
                        <h3>Request local trash locations</h3>
                        <p>After a manual approval, the app will get local data (through OSM first, then local API) filtering bots with a Captcha.</p>
                    </div>
  
                    <div class="bgrid step" data-item="2">
                        <h3>Using OSM data API</h3>
                        <p>Global API calls specifying: city, state and country. Collecting data for any type of trash.</p>
                    </div>               
                    <div class="bgrid step" data-item="2">
                        <h3>Using local API/online file</h3>
                        <p>Adapted for any kind of API or files (CSV, JSON, KML) with options available: pagination, sleep time.</p>
                        <p><b>No need to peruse API docs.</b></p>
                    </div>
  
                    <div class="bgrid step" data-item="3">
                        <h3>Key data</h3>
                        <p>TrashIt automatically returns a set of data columns with examples for admins to choose from.</p>
                    </div>  
                    <div class="bgrid step" data-item="4">
                        <h3>Data Iteration</h3>
                        <p>Once selected, the web app records matching data points.</p>
                    </div>  
                    <div class="bgrid step" data-item="5">
                        <h3>Data iteration</h3>
                        <p>Iterating data rows to record matching data points.</p>
                    </div>  
  
                </div>           
           </div> <!-- end about-how-content -->
  
        </div> <!-- end about-how -->
  
        <div class="row about-bottom-image">
           <img src="{% static 'images/app-screens-1200.png' %}"
                srcset="{% static 'images/app-screens-600.png' %} 600w,
                        {% static 'images/app-screens-1200.png' %} 1200w,
                        {% static 'images/app-screens-2800.png' %} 2800w"
                sizes="(max-width: 2800px) 100vw, 2800px"
                alt="App Screenshots" data-aos="fade-up">
        </div>  <!-- end about-bottom-image -->       
    </section> <!-- end about -->  
  
<!-- pricing
    ================================================== -->
    <section id="pricing">
        <div class="row pricing-content">
  
            <div class="col-four pricing-intro">
                <h1 class="intro-header" data-aos="fade-up">Our Pricing Options</h1>
                <p data-aos="fade-up">Basic plan is free and available at resident's request to get OSM API data as well as local API open data. For cities or agglomerations to access administration features, pricing is set according to population figure. <a href="#" class="email-link">Contact us</a> for questions or to get a personalized pricing quote.</p>
            </div>
  
            <div class="col-eight pricing-table">
                <div class="row">
  
                    <div class="col-six plan-wrap">
                        <div class="plan-block" data-aos="fade-up">
                            <div class="plan-top-part">
                                <h3 class="plan-block-title">Basic Plan</h3>
                                <p class="plan-block-price"><sup></sup>FREE</p>
                            </div>
                            <div class="plan-bottom-part">
                                <ul class="plan-block-features">
                                    <li><span>Local & OpenStreetMap</span> APIs</li>
                                    <li><span>E-Mail</span> Contact Only</li>
                                </ul>
                                <a class="button button-primary large" href="">Get Started</a>
                            </div>  
                        </div>
                    </div> <!-- end plan-wrap -->
  
                    <div class="col-six plan-wrap">
                        <div class="plan-block primary" data-aos="fade-up">
                            <div class="plan-top-part">
                                <h3 class="plan-block-title">Pro Plan</h3>
                                <p class="plan-block-price"><sup>$</sup>50</p>
                                <p class="plan-block-per">Per Month</p>
                            </div>
                            <div class="plan-bottom-part">
                                <ul class="plan-block-features">
                                    <li><span>Local & OpenStreetMap</span> APIs</li>
                                    <li><span>Admin</span> Site</li>
                                    <li><span>On-Site</span> Report Management</li>
                                    <li><span>Report</span> Includes Photo</li>
                                    <li><span>Online</span> Support</li>
                                </ul>
                                <a class="button button-primary large" href="">Get Started</a>
                            </div>
                        </div>
                    </div> <!-- end plan-wrap -->
  
                </div>               
            </div> <!-- end pricing-table -->
  
        </div> <!-- end pricing-content -->
    </section> <!-- end pricing -->
  
<!-- download
    ================================================== -->
    <section id="download">
        <div class="row">
            <div class="col-full">
                <h1 class="intro-header" data-aos="fade-up">Try Out Our Web App Now!</h1>
                <p class="lead" data-aos="fade-up"></p>
                <ul class="download-badges">
                    <li><a href="https://trashit.click/" title="" class="badge-app-logo" data-aos="fade-up">Web Application</a></li>
                </ul>
            </div>
        </div>
    </section> <!-- end download -->    
  
  
<!-- footer
    ================================================== -->
    <footer style="background: #112d3d !important; color: white !important">
  
        <div class="footer-main">
            <div class="row">  
  
                <div class="col-three md-1-3 tab-full footer-info">            
                    <div class="footer-logo"></div>
                    <p>
                    TrashIt helps connect people with their local services in order for a better waste management. With TrashIt, anyone can locate the right spot to dispose of their trash, find out when their trash will be picked up and report any issue to their local public service.
                    </p>
                    <ul class="footer-social-list">
                        <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                    </ul>
                </div> <!-- end footer-info -->
  
                <div class="col-three md-1-3 tab-1-2 mob-full footer-contact">
                    <h4>Contact</h4>
                    <p><b><a href="#" class="email-link">Contact Us</a></b><br></p>                    
                </div> <!-- end footer-contact -->  
  
                <div class="col-two md-1-3 tab-1-2 mob-full footer-site-links">
                    <h4>Site Links</h4>
                    <ul class="list-links">
                        <li><a href="/">Home</a></li>
                        <li><a href="{% url 'about' %}">About Us</a></li>
                        <li><a href="{% url 'privacy-policy' %}">Privacy Policy</a></li>
                    </ul>               
                </div> <!-- end footer-site-links -->
  
            </div> <!-- /row -->
        </div> <!-- end footer-main -->
  
        <div class="footer-bottom">
            <div class="row">
                <div class="col-twelve">
                    <div class="copyright">
                        <span>© Copyright TrashIt.click {% now "Y" as current_year %}.</span>
                        <span>Design by <a href="http://www.styleshout.com/">styleshout</a></span>
                    </div>
                    <div id="go-top">
                        <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon-arrow-up"></i></a>
                    </div>         
                </div>
            </div>    
        </div> <!-- end footer-bottom -->    
    </footer>
  
    <div id="preloader">
        <div id="loader"></div>
    </div>  
  
<!-- Java Script
    ================================================== -->
    <script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  
    <script>
        const encodedEmail = "Y29udGFjdC50cmFzaGl0QHRyYXNoaXQuY2xpY2s=";
        const targets = document.querySelectorAll('.email-link');
        const decodedEmail = atob(encodedEmail);
        targets.forEach(target => {
            target.href = "mailto:" + decodedEmail;
        });
    </script>
  
</body>
</html>