    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Garbage collection days</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
          {% for collection in collections %}
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="{{ collection.the_type.the_type }}" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">{{ collection.the_type.the_type }}</button>
          </li>
          {% endfor %}
        </ul>
        <div class="tab-content" id="myTabContent">
          {% for collection in collections %}
          <div class="tab-pane fade show active" id="{{ collection.the_type.the_type }}" role="tabpanel" aria-labelledby="home-tab">{{ collection.the_type.days }}</div>
          {% endfor %}
        </div>
        
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
