{% load static %}
<div class="modal fade" id="{{ trash.id }} modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="trashSelect modal-title fs-5" id="{{ trash.id }}">Trash</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><a href="mailto:no-one@snai1mai1.com?subject=Trash full&body=Hi, I found this trash bin full at {{ trash.o_field.x }}, {{ trash.o_field.y }}.">Write an email to your local public service to notify them of an issue with the trash.</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
