<table class="table table-striped table-hover">
  <thead class="table-dark">
    <tr>
      <th>Component</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    {% if wrapper %}
      {% if packagings %}
        {% for packaging in packagings %}
          <tr>
            <td>{{ packaging.component }}</td>
            <td>{{ packaging.the_type.the_type }}</td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="2" class="text-center text-muted">No info on packaging</td>
        </tr>
      {% endif %}
    {% else %}
      <tr>
        <td colspan="2" class="text-center text-muted">Unknown product</td>
      </tr>
    {% endif %}
  </tbody>
</table>