{% load i18n %}
<div class="modal-header">
    <h1 class="modal-title fs-5">{% trans "No local data" %}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body" id="request-local-form">
    <p>{% trans "Request to add local waste disposal data" %}.</p>
    <!-- Added d-flex (flexbox), flex-column (stack vertically), and gap-3 (even spacing) -->
    <form action="{% url 'request_local' %}" method="post" class="d-flex flex-column gap-3">
        {% csrf_token %}
        
        <div>
            <input type="hidden" id="coordinates" name="coordinates" value='{{ coordinates }}'>
        </div>

        <!-- The captcha input -->
        <div class="w-100" style="text-align: center;">
            {{form.captcha}}
        </div>

        <!-- The button with w-100 to make it span the full width -->
        <button type="submit" class="btn btn-warning w-100" id="request-local" data-bs-dismiss="modal">
            {% trans "Request" %}
        </button>
    </form>
</div>