{% load static %}
<div class="modal fade" id="{{ trash.id }} modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="trashSelect modal-title fs-5" id="{{ trash.id }}">Trash</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="camera">
          <video autoplay="true" id="{{ trash.id }}video">Video stream not available.</video>
          <button id="startbutton">Take photo</button>
        </div>
        <canvas id="{{ trash.id }} canvas"> </canvas>
        <div class="output">
          <img id="{{ trash.id }} photo" alt="The screen capture will appear in this box." />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger send-issue" id="{{ trash.id }}" data-bs-dismiss="modal">Report Trash</button>
      </div>
    </div>
  </div>
</div>
