{% load i18n %}
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">{% trans "Garbage collection days" %}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <p>{% trans "Not available" %}.</p>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">{% trans "Close" %}</button>
      </div>
    </div>