{% block before_header %}

{% load i18n leaflet_tags %}

{% load static %}

{% endblock %}
{% csrf_token %}
{% block header %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style media="screen">
      html, body, #container /*, and all other map parent selectors*/ {
        height: 100%;
        overflow: hidden;
        width: 100%;
      }

      #map {
        width: auto;
        height: 100%;
      }

      .more-padding {
        right: 49.5 !important;
        bottom: 150 !important;
      }

      #map{ z-index:2; }
      #modal{ z-index:3; }
      .index {
        z-index:1;
      }

      .top-buttons {
        position: absolute;
        margin-top: 10px;
        margin-right: 10px;
        float: right;
        z-index: 1000;
        right: 0;
        top: 0;
      }

      .buttons-wrap {
        pointer-events: auto;
        box-sizing: border-box;
        z-index: 800;
        position: relative;
        margin-top: 10px;
        margin-right: 30px;
      }

      .garbade-collection {
        position: absolute;
        right: 75px;
        top: 10px !important;
        z-index: 1001;
      }

      #add-menu {
        width: 45px;
        height: 45px;
        text-align: center;
        padding: 0px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px !important;
        padding-bottom: 3px;
      }

      .dropup-filter {
        position: absolute;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
        bottom: 0;
        right: 0;
        z-index: 1001;
      }

      #add-filter {
        bottom: 0px;
        right: 0;
        padding: 30px;
        width: 90px;
        height: 90px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
      }

      .bi.bi-funnel {
        padding-top: 10px;
      }

      .control {
        margin-top: 20px !important;
      }

      .dropdown-toggle::after {
        display: none;
      }

      .canvas {
        display: none;
      }

      .camera {
        width: 100%;
        display: inline-block;
	      vertical-align: top;
	      position: relative;
      }
      
      .camera .video {
	      width: 100%;
        object-fit: cover;
        background-color: #ccc;
	      max-width: 475px;
      }
      
      .video-content {
	      position: absolute;
        bottom: 0px;
      }

      .retake {
	      transform: translate(75%, -50%) !important;
      }

      .report {
        transform: translate(100%, -50%) !important;
      }

      .output {
	      position: relative;
        width: 100%;
        display: inline-block;
        vertical-align: top;
      }
      
      .photo {
        width: 100%;
      }

      #scan-viewport video {
	      width: 100%;
        height: 50%
        object-fit: cover;
        background-color: #ccc;
	      max-width: 475px;
      }

      .drawingBuffer {
        display: None;
      }

    </style>
  {% leaflet_js %}
  {% leaflet_css %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.1.0/dist/MarkerCluster.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.1.0/dist/MarkerCluster.Default.css"/>
  <link rel="stylesheet" type="text/css" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'node_modules/bootstrap-icons/font/bootstrap-icons.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'node_modules/bootstrap-icons/font/bootstrap-icons.min.css' %}" />
  <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.bundle.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{% static 'node_modules/@ericblade/quagga2/dist/quagga.js' %}"></script>
  <script>
    function mapInit(map, options) {
        //L.tileLayer('https://tiles.wmflabs.org/hikebike/{z}/{x}/{y}.png', {
        //L.tileLayer('https://api.tiles.mapbox.com/v4/mapbox.streets/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiY2FjdGVncmEiLCJhIjoiY2xwY256MHZ2MHJ3ajJrczludnJjaG96bSJ9.Of5KxdOT9Czr5u3hVpbduw', {
        //maxZoom: 19,
        //attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        //attribution: '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>'
        //}).addTo(map);
        options = {
          layers: L.tileLayer('https://tiles.wmflabs.org/hikebike/{z}/{x}/{y}.png', { maxZoom: 17, attribution: '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>' }),
          zoomControl: false,
        };
        map.removeControl(map.zoomControl);
        var checking = false;
        var markers = [];
        var circles = [];
        var markersLayer = new L.LayerGroup();
        var circlesLayer = new L.LayerGroup();
        var polygonsLayer = new L.LayerGroup();
        polygonsLayer.addTo(map);
        markersLayer.addTo(map);
        circlesLayer.addTo(map);
        layerGroups = {};
        circleGroups = {};
        {% for trash_type in trash_types %}
        layerGroups['{{ trash_type }}'] = L.layerGroup().addTo(map);
        circleGroups['{{ trash_type }}'] = L.layerGroup().addTo(map);
        layerGroups['{{ trash_type }}'].addTo(map);
        circleGroups['{{ trash_type }}'].addTo(map);
        {% endfor %}
        var old_latlng = null;
        var trash_percentage = null;
        var user_marker = null;
        var locFound = false;
        var scanning = false;
        var userIcon = L.icon({
          iconUrl: "{% static 'icons/dot-circle.png' %}",
          //shadowUrl: "{% static 'user-tag-shadow.png' %}",

          iconSize:     [40, 40], // size of the icon
          shadowSize:   [50, 64], // size of the shadow
          iconAnchor:   [0, 0], // point of the icon which will correspond to marker's location
          shadowAnchor: [0, 65],  // the same for the shadow
          popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
        });
        var defaultIcon = L.icon({
          iconUrl: "{% static 'leaflet/images/marker-icon.png' %}",
          shadowUrl: "{% static 'leaflet/images/marker-shadow.png' %}",

          iconSize:     [25, 41], // size of the icon
          shadowSize:   [50, 64], // size of the shadow
          iconAnchor:   [12, 41], // point of the icon which will correspond to marker's location
          shadowAnchor: [14, 65],  // the same for the shadow
          popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
        });
        var selectedIcon = L.Icon.extend({
          options: {
            //iconUrl: "{% static 'icons/trash-icon.svg' %}",
            //shadowUrl: "{% static 'leaflet/images/marker-shadow.png' %}",

            iconSize:     [25, 41], // size of the icon
            shadowSize:   [50, 64], // size of the shadow
            iconAnchor:   [13, 20], // point of the icon which will correspond to marker's location
            shadowAnchor: [14, 65],  // the same for the shadow
            popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
          }
        });
        containers = document.querySelectorAll(".leaflet-control-container:not(.leaflet-control-container.custom)")
        $(containers).remove()
        function onLocationFound(e) {
            var lat = e.latlng.lat;
            var lng = e.latlng.lng;
            if (user_marker == null) {
              user_marker = L.marker(e.latlng, {icon: userIcon})
              user_marker.addTo(map)
            } else {
              if (old_latlng != null) {
                user_marker.setLatLng(old_latlng)
              }
            }
            //map.eachLayer(function (layer) {
            //    if (layer.options.name === 'XXXXX') {
            //        layer.setLatLng([newLat,newLon])
            //    }
            //});
            trash = document.getElementById('trashList');
            if (old_latlng == null || old_latlng.lat != e.latlng.lat || old_latlng.lng != e.latlng.lng ) {
              if (checking == false) {
                checking = true;
                $.when($.ajax({
                    url: "{% url 'get_first_load' %}",
                    data: { 'lat': lat, 'lng': lng, 'same_session': false},
                    type:'GET',
                })).then(function(response) {
                  if ('request-local' in response) {
                    var requestLocal = document.getElementById("requestLocalForm");  
                    requestLocal.html(response.request-local);
                    var noData = document.getElementById("noData");
                    $(noData).modal('toggle');
                  } else {
                  var filteringMenu = document.getElementsByClassName("filtering dropdown-menu")[0];
                  for (theType of response.all_types) {
                    const dividerNode = document.createElement("li");
                    const hrNode = document.createElement("hr");
                    hrNode.class = "dropdown-divider";
                    dividerNode.appendChild(hrNode);
                    filteringMenu.appendChild(dividerNode);
                    const node = document.createElement("li");
                    const buttNode = document.createElement("button");
                    const buttTextNode = document.createTextNode(theType);
                    buttNode.appendChild(buttTextNode);
                    buttNode.setAttribute("class", "dropdown-item filter");
                    buttNode.id = "filter " + theType;
                    buttNode.name = theType;
                    buttNode.onclick = function (e) { filterTrash(e); };
                    node.appendChild(buttNode);
                    filteringMenu.appendChild(buttNode);
                  };
                  for (all_data of response.response) {
                    var latlng = L.latLng(all_data.lat, all_data.lng);
                    circle = L.circle(latlng, all_data.radius);
                    circlesLayer.addLayer(circle);
                    circles.push(circle);
                    for (data0 of all_data.data_list) {
                      if (data0.reload) {
                        $('.reload').html(data0.reload);
                      }
                      if (data0.lat) {
                        var latlng = L.latLng(data0.lat, data0.lng);
                      }
                      var iconName;
                      if (data0.trash_icon){
                        iconName = data0.trash_icon;
                      } else {
                        iconName = 'trash-icon';
                      }
                      var trashIcon = new selectedIcon({
                        iconUrl:"{% static 'icons/' %}" + iconName + '.svg',
                      });
                      the_trash = L.marker(latlng, {title: data0.trash_type, alt: data0.trash_id + " " + data0.trash_type, icon: trashIcon}).on('click', highlightTrash);
                      document.getElementsByClassName("trashList")[0].innerHTML += (data0.html);
                      markersLayer.addLayer(the_trash);
                      markers.push(the_trash);
                      }
                    }
                  }
                  })
                } else {
                  trash_type = document.getElementById("iconType");
                  markersLayer.clearLayers();
                  circlesLayer.clearLayers();
                  trash_type = trash_type.getAttribute("name");
                  $.when($.ajax({
                    url: "{% url 'filter_type' %}",
                    data: { 'lat': lat, 'lng': lng, 'type': trash_type},
                    type:'GET',
                  })).then(function(response) {
                    for (all_data of response) {
                      var latlng = L.latLng(all_data.lat, all_data.lng);
                      circle = L.circle(latlng, all_data.radius);
                      circlesLayer.addLayer(circle);
                      circles.push(circle);
                      for (data0 of all_data.data_list) {
                        if (data0.reload) {
                          $('.reload').html(data0.reload);
                        }
                        if (data0.lat) {
                          var latlng = L.latLng(data0.lat, data0.lng);
                        }
                        var iconName;
                        if (data0.trash_icon){
                          iconName = data0.trash_icon;
                        } else {
                          iconName = 'trash-icon';
                        }
                        var trashIcon = new selectedIcon({
                          iconUrl:"{% static 'icons/' %}" + iconName + '.svg',
                        });
                        the_trash = L.marker(latlng, {title: data0.trash_type, alt: data0.trash_id + " " + data0.trash_type, icon: trashIcon}).on('click', highlightTrash);
                        document.getElementsByClassName("trashList")[0].innerHTML += (data0.html);
                        markersLayer.addLayer(the_trash);
                        markers.push(the_trash);
                        }
                      }
                  })
              }
            }
            old_latlng = e.latlng;
            return old_latlng
          }
          map.on('locationfound', onLocationFound);
          function onLocationError(e) {
              if (locFound == false) {
                locFound = true;
                map.locate({setView: true, maxZoom: 17})
              }
          }
          map.on('locationerror', onLocationError);
          function dyn_locate() {
              if (locFound == false) {
                locFound = true;
                map.locate({setView: true, maxZoom: 17})
                    .on('locationfound', onLocationFound);
              }
              else {
                map.locate();
                map.on('locationfound', onLocationFound);
              }
          }
          setInterval(dyn_locate, 3000);
          // zoom in function
          document.getElementById("in").onclick = function() {
            map.setZoom(map.getZoom() + 1)
          };
          // zoom out function
          document.getElementById("out").onclick = function() {
            map.setZoom(map.getZoom() - 1)
          };
          document.getElementById("recenter").onclick = function() {
            map.setView(new L.LatLng(old_latlng.lat, old_latlng.lng), 19);
          };
         function highlightTrash(e) {
          console.log(e);
          var id = e.target.options.alt;
          console.log(id);
          var targetTrash = document.getElementById(id+" modal");
          $(targetTrash).modal('toggle');
          var reportIssue = document.getElementById(id+" report");
          console.log(reportIssue);
          reportIssue.style.display = "block";
         };
         $(document).on('click', '.modal-button', function () {
          var id = this.id.replace(" report", "");
          this.style.display = "none";
          photoModal = document.getElementById(id+" photo-modal");
          photoModal.style.display = "block";
          // The width and height of the captured photo. We will set the
          // width to the value defined here, but the height will be
          // calculated based on the aspect ratio of the input stream.
        
          const width = 475; // We will scale the photo width to this
          let height = 0; // This will be computed based on the input stream
        
          // |streaming| indicates whether or not we're currently streaming
          // video from the camera. Obviously, we start at false.
        
          let streaming = false;
        
          // The various HTML elements we need to configure or control. These
          // will be set by the startup() function.
        
          var modalContent = document.getElementById("modal content "+id);
          var video = document.getElementById(id+"video");
          var canvas = document.getElementById(id+" canvas");
          var photo = document.getElementById(id+" photo");
          var camera = document.getElementById("camera "+id);
          var output = document.getElementById("output "+id);
          var startbutton = document.getElementById(id+" startbutton");
          var retakebutton = document.getElementById(id+" retake picture");
          var reportbutton = document.getElementById(id+" report trash");
          var closebutton = document.getElementById(id+" close");
          camera.style.display = "block";
          output.style.display = "none";
          clearphoto();
          function gettingMedia() {
            navigator.mediaDevices
              .getUserMedia({ video: true, audio: false })
              .then(function (stream) {
                let genders = Object.keys(stream);
                console.log(genders);
                window.stream = stream;
                video.srcObject = stream;
                video.play();
              })
              .catch(function (err) {
                console.error(`An error occurred: ${err}`);
              });
        
              video.addEventListener(
                "canplay",
                (ev) => {
                  if (!streaming) {
                    height = video.videoHeight / (video.videoWidth / width);
          
                    // Firefox currently has a bug where the height can't be read from
                    // the video, so we will make assumptions if this happens.
          
                    if (isNaN(height)) {
                      height = width / (4 / 3);
                    }
          
                    video.setAttribute("width", width);
                    video.setAttribute("height", height);
                    canvas.setAttribute("width", width);
                    canvas.setAttribute("height", height);
                    streaming = true;
                  }
                },
                false,
            );
          }

            function stoppingMedia() {
                  const stream = video.srcObject;
                  const tracks = stream.getTracks();
                  tracks.forEach((track) => {
                    track.stop();
                  });
            }

            gettingMedia();

            document.getElementById(id+" startbutton").onclick = function(ev) {
              takepicture();
              ev.preventDefault();
            };
              
            document.getElementById(id+" retake picture").onclick = function(ev) {
              retakepicture();
              ev.preventDefault();
            };

            document.getElementById(id+" report trash").onclick = function(ev) {
              sendpicture();
              ev.preventDefault();
            };

            var closeTrash = document.getElementsByClassName("close-trash")
	          closeTrash[0].onclick = function(ev) {
              stoppingMedia();
              ev.preventDefault();
            };

            // Fill the photo with an indication that none has been
            // captured.
          
            function clearphoto() {
              const context = canvas.getContext("2d");
              context.fillStyle = "#AAA";
              context.fillRect(0, 0, canvas.width, canvas.height);
          
              const data = canvas.toDataURL("image/png");
              photo.setAttribute("src", data);
            }
          
            // Capture a photo by fetching the current contents of the video
            // and drawing it into a canvas, then converting that to a PNG
            // format data URL. By drawing it on an offscreen canvas and then
            // drawing that to the screen, we can change its size and/or apply
            // other changes before drawing it.
          
            function takepicture() {
              const context = canvas.getContext("2d");
              stoppingMedia();
              camera.style.display = "none";
              output.style.display = "block";
              if (width && height) {
                canvas.width = width;
                canvas.height = height;
                context.drawImage(video, 0, 0, width, height);
          
                const data = canvas.toDataURL("image/png");
                photo.setAttribute("src", data);
              } else {
                clearphoto();
              }
            }

            function retakepicture() {
              camera.style.display = "block";
              output.style.display = "none";
              clearphoto();
              gettingMedia();
            }

            function sendpicture() {
              var patch = '{% url "report_trash" %}';
              var post_data = canvas.toDataURL("image/png");
              console.log(post_data);
              $.ajax({
                method: "POST",
                url: patch,
                data: {'imageBase64': post_data, 'id': id},
                              headers: {
                                "X-Requested-With": "XMLHttpRequest",
                                "X-CSRFToken": getCookie("csrftoken"),  // don't forget to include the 'getCookie' function
                              },
              success: function(data){
                photoModal.innerHTML = data.status;
              }
              });
            }

           for (marker of markers) {
             if (marker.options.alt == id) {
               marker.setIcon(defaultIcon);
              } else {
               marker.setIcon(selectedIcon);
              }
           }
           elements = document.getElementsByClassName('trashSelect');
           for (element of elements) {
             if (element.id == id) {
               element.style.background = "#e0dfdf";
               $('.trashList').prepend(element);
             } else {
               element.style.background = "#fff";
             }
           }
         });
         $(document).on('click', '.trashSelect', function () {
           var id = this.options.alt;
           var targetTrash = document.getElementById(id+" modal");
           $(targetTrash).modal('toggle');
           for (marker of markers) {
             if (marker.options.alt == id) {
               marker.setIcon(selectedIcon);
               map.panTo(marker.getLatLng());
             }
             else {
               marker.setIcon(defaultIcon);
             }
           }
           elements = document.getElementsByClassName('trashSelect');
           for (element of elements) {
             if (element.id == id) {
               element.style.background = "#e0dfdf";
               $('.trashList').prepend(element);
             } else {
               element.style.background = "#fff";
             }
           }
         });
         function scanWrapper () {
          var scanModal = document.getElementById("wrapperModal");
          $(scanModal).modal('toggle');
          Quagga.init(
            {
              inputStream: {
                name: "Live",
                type: "LiveStream",
                target: document.querySelector("#scan-viewport")
              },
              decoder: {
                readers: ["ean_reader"]
              }
            },
            function (err) {
              if (err) {
                console.log(err);
                return;
              }
              console.log("Initialization finished. Ready to start");
              Quagga.start();
            }
            );
            var codes = [];
            Quagga.onDetected(function (result) {
              var code = result.codeResult.code;
              codes.push(code);
              console.log(code);
              console.log(codes);
              function getRecurringValues(codes) {
                return codes.reduce((acc, current) => {
                  let found = false;
                  for (let i = 0; i < acc.length; i++) {
                    if (acc[i][0] === current) {
                      acc[i][1]++;
                      found = true;
                      break;
                    }
                  }
                  if (!found) {
                    acc.push([current, 1]);
                  }
                  return acc;
                }, []).filter(([v, c]) => c > 1).sort((a, b) => b[1] - a[1]);;
              }
              const recurring = getRecurringValues(codes);

              console.log(recurring); // Output: { "2": 2, "3": 2, "4": 2, "5": 2 } (most common is 2, 3, 4, and 5)
              if (recurring.length == 0) {
                itemNumber = 1;
              } else {
                itemNumber = recurring[0][1];
              }
              if (itemNumber >= 5 && !scanning) {
                scanning = true;
                $.ajax({
                  url: "{% url 'scan_wrapper' %}",
                  data: { 'code': recurring[0][0] },
                  type:'GET',
                  success:function(all_data) {
                  for (data0 of all_data) {
                    $('#scan-result').html(data0.html);
                    console.log("here");
                    console.log(data0.html);
                    console.log('after');
                    scanning = false;
                  }
                  }
                });            
              }
            });
          }
         function garbageCollect() {
            var lat = old_latlng.lat;
            var lng = old_latlng.lng;
            $.ajax({
              url: "{% url 'garbage_collection' %}",
              data: { 'lat': lat, 'lng': lng},
              type:'GET',
              success:function(all_data) {
              for (data0 of all_data) {
                $('#replaceCollection').html(data0.html);
                console.log("here");
                console.log(data0.html);
                console.log('after');
                var collectionModal = document.getElementById("collectionModal");
                $(collectionModal).modal('toggle');
              }
              }
             });
          };
         function filterTrash(e) {
          var lat = old_latlng.lat;
          var lng = old_latlng.lng;
          console.log(e);
          trash_type = e.originalTarget.name;
          console.log(trash_type);
          markersLayer.clearLayers();
          circlesLayer.clearLayers();
          $.when($.ajax({
            url: "{% url 'filter_type' %}",
            data: { 'lat': lat, 'lng': lng, 'type': trash_type},
            type:'GET',
          })).then(function(response) {
            document.getElementByClassId("add-filter")[0].innerHTML = '<i class="bi bi-' + trash_type +'" style="font-size: 35px;"></i>';
            for (all_data of response) {
              var latlng = L.latLng(all_data.lat, all_data.lng);
              circle = L.circle(latlng, all_data.radius);
              circlesLayer.addLayer(circle);
              circles.push(circle);
              for (data0 of all_data.data_list) {
                if (data0.reload) {
                  $('.reload').html(data0.reload);
                }
                if (data0.lat) {
                  var latlng = L.latLng(data0.lat, data0.lng);
                }
                var iconName;
                if (data0.trash_icon){
                  iconName = data0.trash_icon;
                } else {
                  iconName = 'trash-icon';
                }
                var trashIcon = new selectedIcon({
                  iconUrl:"{% static 'icons/' %}" + iconName + '.svg',
                });
                the_trash = L.marker(latlng, {title: data0.trash_type, alt: data0.trash_id + " " + data0.trash_type, icon: trashIcon}).on('click', highlightTrash);
                document.getElementsByClassName("trashList")[0].innerHTML += (data0.html);
                markersLayer.addLayer(the_trash);
                markers.push(the_trash);
                }
              }
           })
          };
          document.getElementById("scan-wrapper").onclick = scanWrapper;
          document.getElementById("garbage-collection").onclick = garbageCollect;
          document.getElementById('filter all').onclick = filterTrash;
          $(document).on('click', '#reauest-local', function () {
            var lat = old_latlng.lat;
            var lng = old_latlng.lng;
            $.when($.ajax({
                    url: "{% url 'request_local' %}",
                    data: { 'lat': lat, 'lng': lng},
                    type:'GET',
                })).then(function(response) {
                  requestContent = document.getElementById('request-content');
                  requestContent.html("Done!");
                }
          };
       document.getElementById("add-menu").onclick = function() {
         var dumpNotif = document.getElementById("dumping-notif");
         theHref = "mailto:no-one@snai1mai1.com?subject=Trash full&body=Hi, I found this unauthorized dumping at lat, lng.";
         theHref = theHref.replace(/lat/g, old_latlng.lat);
         theHref = theHref.replace(/lng/g, old_latlng.lng);
         dumpNotif.setAttribute('href',theHref);
         var addModal = document.getElementById("add-trash-modal");
         $(addModal).modal('toggle');
       };
      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          const cookies = document.cookie.split(";");
          for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + "=")) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookieValue;
      };
    };

  </script>
{% endblock %}

{% block content %}
{% leaflet_map "map" callback="mapInit" %}
  <div class="trashList">
    <div class="reload">
    </div>
  </div>
  <div class="modal fade" id="wrapperModal" tabindex="-1" role="dialog" aria-labelledby="scan-wrapper" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="">Scan wrapper</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </button>
        </div>
        <div class="modal-body">
          <div id="scan-viewport">
          </div>
          <div id="scan-result">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<div class="modal fade" id="collectionModal" tabindex="-1" role="dialog" aria-labelledby="collectionModal" style="display: none;" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="replaceCollection">
    </div>
  </div>
</div>
<div class="leaflet-control-container custom">
  <div class="leaflet-top leaflet-right">
    <button class="btn btn-light shadow fw-bold buttons-wrap" id="garbage-collection">
      <i class="bi bi-calendar-week"></i>
      &nbsp;{% trans "Garbage collection" %}
        </button>
    <button class="btn btn-light shadow fw-bold buttons-wrap" id="scan-wrapper">
      <i class="bi bi-upc-scan"></i>
      &nbsp;{% trans "Scan wrapper" %}
    </button>
    <button type="button" class="btn btn-light shadow fw-bold rounded-circle buttons-wrap" id="add-menu">
      <i class="bi bi-exclamation-triangle" style="font-size: 35px;"Z></i></button>
    <div class="leaflet-control-zoom leaflet-bar leaflet-control control">
      <!-- Trigger Modal -->
      <a class="u-link text-center d-block" data-toggle="modal" role="button" aria-label="Information" style='background-image: url({% static 'profileFilled.png' %});' href='#callProfile'>
      </a>
      <!-- End Trigger Modal -->
    </div>
    <div class="leaflet-control-zoom leaflet-bar leaflet-control control">
      <a class="leaflet-control-zoom-in" id='in' href="#" title="Zoom in" role="button" aria-label="Zoom in">+</a>
      <a class="leaflet-control-zoom-out" id='out' href="#" title="Zoom out" role="button" aria-label="Zoom out">−</a>
    </div>
    <div class="leaflet-control-zoom leaflet-bar leaflet-control control">
      <a class="leaflet-control-zoom leaflet-bar-part" id='recenter' href="#" title="Recenter view" style="background-image: url(&quot;/static/leaflet/images/reset-view.png&quot;);">
      </a>
    </div>
  </div>
</div>
<div class="dropup-filter">
  <div class="dropup">
    <button type="button" class="btn btn-light shadow fw-bold rounded-circle" id="add-filter" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="bi bi-funnel" id="iconType" name="all" style="font-size: 35px;"></i>
    </button>
    <ul class="filtering dropdown-menu">
      <li><button class="dropdown-item filter" id="filter all" name="all">All</button></li>
    </ul>
  </div>
</div>
<hr class="my-4">
<div class="modal fade" id="callProfile" tabindex="-1" role="dialog" aria-labelledby="callProfileTitle" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="callProfileLongTitle">Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-primary" onclick="window.location.href = #settings;">Go to Profile Settings</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="getModal">
</div>

<div class="modal fade" id="add-trash-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Unauthorized waste dumping notification</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><a id="dumping-notif" href="">Write an email to notify of an unauthorized dumping.</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="noData" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="request-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">No local data</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="requestLocalForm">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" id="request-local" data-bs-dismiss="modal">Request</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
