{% extends "wagtailsnippets/snippets/edit.html" %}
{% load i18n wagtailadmin_tags %}
This is the custom template
{% block form_actions %}
  {{ block.super }}
  <ul id="root"></ul>
{% endblock %}

<script>
var data = {{ api_example }}

function addItem(parentUL, branch) {
    for (var key in branch.children) {
        var item = branch.children[key];
        $item = $('<li>', {
            id: "item" + item.id
        });
        $item.append($('<input>', {
            type: "checkbox",
            id: "item" + item.id,
            name: "chosen_keys"
        }));
        $item.append($('<label>', {
            for: "item" + item.id,
            text: item.title
        }));
        parentUL.append($item);
        if (item.children) {
            var $ul = $('<ul>', {
                style: 'display: none'
            }).appendTo($item);
            $item.append();
            addItem($ul, item);
        }
    }
}

$(function () {
    addItem($('#root'), data);
    $(':checkbox').click(function () {
        $(this).find(':checkbox').trigger('click');
        var matchingId = $(this).attr('id');
        if ($(this).attr('checked'))
        {
            $('input[id*=' + matchingId +']').each(function() {
            $(this).removeAttr('checked');
                $(this).prop('checked', $(this).attr('checked'));
            });
        }
        else {
             $('input[id*=' + matchingId +']').each(function() {
            $(this).attr('checked', 'checked');
                $(this).prop('checked', $(this).attr('checked'));

             });
        }

    });
    $('label').click(function(){
        $(this).closest('li').children('ul').slideToggle();

    });
});
</script>
